@each $id, $colors in $theme-colors {
  [data-diario="#{$id}"] {
    .site-header {
      border-bottom-color: map-get( $colors, primario );
    }

    .bg-suscripcion {
      background-color: map-get( $colors, secundario );
    }

    .site-footer {
      border-top-color: map-get( $colors, primario );
    }

    .plan__promo {
      border-color: map-get( $colors, primario );
      background-color: map-get( $colors, primario );
    }

    .plan__header {
      background-color: map-get( $colors, primario );
    }

    .plan-mobile {
      background-color:map-get( $colors, primario );
    }

    .plan__body {
      border-color: map-get( $colors, primario );

      li .icon-check {
        color: map-get( $colors, primario );
      }
    }

    input:checked + .border-selected {
      border-color: map-get( $colors, primario );
    }

    .form-account__radio input:checked ~ .checkmark {
      background-color: map-get( $colors, primario );
    }
  }
};
