$theme-colors: (
    2: (
        nombre: "CRONICA DE CHILLAN",
        primario: #F03F4C,
        secundario: #2d57a5
    ),
    3: (
        nombre: "AUSTRAL VALDIVIA",
        primario: #2b5098,
        secundario: #1D3566
    ),
    4: (
        nombre: "EL SUR",
        primario: #61abe5,
        secundario: darken(#61abe5, 30%),
        terciario: #c0cda9
    ),
    5: (
        nombre: "AUSTRAL OSORNO",
        primario: #cc423c,
        secundario: #B33A34
    ),
    7: (
        nombre: "MERCURIO VALPARAISO",
        primario: #004E9C,
        secundario: #003972
    ),
    8: (
        nombre: "MERCURIO ANTOFAGASTA",
        primario: #1A5FA8,
        secundario: #134984
    ),
    9: (
        nombre: "AUSTRAL TEMUCO",
        primario: #004E9C,
        secundario: #003F7D
    ),
    10: (
        nombre: "ESTRELLA DE ARICA",
        primario: #01509F,
        secundario: #003971
    ),
    11: (
        nombre: "ESTRELLA VALPARAISO",
        primario: #004E9C,
        secundario: #003972
    ),
    12: (
        nombre: "ESTRELLA IQUIQUE",
        primario: #2677B6,
        secundario: #1C6093
    ),
    13: (
        nombre: "EL LLANQUIHUE",
        primario: #004E9C,
        secundario: #003F7D
    ),
    14: (
        nombre: "EL MERCURIO DE CALAMA",
        primario: #B62932,
        secundario: #96212A
    ),
    15: (
        nombre: "LA ESTRELLA DE CONCEPCION",
        primario: #2677B6,
        secundario: #1C6093
    ),
    16: (
        nombre: "EL DIARIO DE ATACAMA",
        primario: #004E9C,
        secundario: #003F7D
    ),
    17: (
        nombre: "LIDER SAN ANTONIO",
        primario: #2478B8,
        secundario: #17588A
    ),
    18: (
        nombre: "LA ESTRELLA DE CHILOE",
        primario: #007639,
        secundario: #005E2E
    ),
    19: (
        nombre: "LA ESTRELLA DE ANTOFAGASTA",
        primario: #2677B6,
        secundario: #1C6093
    ),
    20: (
        nombre: "LA ESTRELLA DE TOCOPILLA",
        primario: #2677B6,
        secundario: #1C6093
    ),
    21: (
        nombre: "LA ESTRELLA DEL LOA",
        primario: #2677B6,
        secundario: #1C6093
    ),
)
