@import './styles/vendor/bootstrap/_core.scss';
// @import './styles/main/_variables.scss';
// @import './styles/main/_themes.scss';
html {
  height: 100%;
}

body {
  min-height: 100%;
}

div#__layout > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

label {
    color: #333;
    font-size: 12px;
    font-weight: 700;
}

.site-content {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page-title {

  font-weight: 600;
  text-align: center;
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }
}

.page-subtitle {
  text-align: center;
  margin-bottom: 2rem;
}

.form-group--error {
  position: relative;

  label {
    color: $red;
  }

   label::before {
    border: $red solid 1px;
  }

  select,
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    border-color: $red;
    border-width: 1px;
  }
}

.field-has-error {
  display: none;
  color: $red;
  font-size: 0.75rem;
  line-height: 1.2;

  .form-group--error & {
    display: block;
  }
}

.form-control:focus {
  box-shadow: none;
}

.page-enter-active,
.page-leave-active {
  transition: all .30s ease-out;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.form-account {
  &__plan {
    border: 1px solid #dee2e6;
    padding: 0.8rem 1rem 0.8rem 2.5rem;
    position: relative;
  }

  &__radio {
    display: block;
    position: relative;
    padding: 1rem 0.3rem 1rem 2.5rem;
    border: 1px solid $input-border-color;
    user-select: none;

    img {
      max-width: 100%;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 0.5rem;
      height: 20px;
      width: 20px;
      background-color: $gray-200;
      border-radius: 50%;
    }

    &:hover input ~ .checkmark {
      background-color: $gray-500;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    & input:checked ~ .checkmark:after {
      display: block;
    }

    & .checkmark:after {
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
  }

  .custom-checkbox {
    line-height: 24px;

    label {
      font-weight: normal;
      font-size: 1rem;
    }
  }
}

.login {
  &__page-title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: 1.75rem;
    }
  }

  &__page-subtitle {
    text-align: center;
    margin-bottom: 2rem;
  }
}
