<template>
  <footer class="site-footer text-center">
    <h5>¿Problemas para ingresar?</h5>
    <p class="text-muted">
      Contactanos al
      <a :href="`tel:+${telefono}`">
        <b>{{ telefono }}</b>
      </a>
      o escríbenos a
      <a :href="`mailto:${email}`">
        <b>{{ email }}</b>
      </a>
    </p>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      email: 'contacto@mediosregionales.cl',
      telefono: '32 2264123'
    }
  }
}
</script>

<style lang="scss">
.site-footer {
  margin-top: auto; // Para pegarlo al footer
  padding-top: 1rem;
  border-top-width: 2px;
  border-top-style: solid;
}
</style>