<template>
        <div v-if="success" class="box-success py-5">
          <div  class="card">
            <div class="card-body text-center">
              <p class="card-text mb-0 text-dark">Estimado Suscriptor, sus datos han sido actualizados. Cualquier duda puede contactarse con nosotros al 32 2264123</p>
            </div>
          </div>
        </div>
        <div v-else-if="error" class="box-success py-5">
          <div  class="card">
            <div class="card-body text-center">
              <p class="card-text text-dark">Estimado usuario, el rut ingresado no se encuentra en nuestros registros asegurese de que es correcto, si el problema persiste comuniquese al 32 2264123</p>
              <small><a href="#" @click.prevent="reloadPage()">Presione aquí para volver</a></small>
            </div>
          </div>
        </div>
        <form v-else @submit.prevent="registraTarjeta" class="form-account" autocomplete="off">
          <div class="card">
            <div class="card-header">
              <span class="text-dark">Datos del usuario</span>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label class="col-sm-3">Nombre completo</label>
                  <div class="col-sm-9">
                    <v-field col="form-group mb-0" :v="$v.usuarioTarjeta">
                      <input class="form-control form-control-sm" type="text" v-model="usuarioTarjeta" placeholder="Nombre y Apellido">
                    </v-field>
                  </div>
              </div>
              <div class="form-group row mb-md-0">
                <label class="col-sm-3">Rut</label>
                  <div class="col-sm-9">
                    <v-field col="form-group mb-0" :v="$v.rut">
                      <input class="form-control form-control-sm" type="text" v-model="rut" maxlength="12" placeholder="Ej: 12345689-0">
                    </v-field>
                  </div>
              </div>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-header">
             <span class="text-dark">Datos de la tarjeta</span>
            </div>
            <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-3">Tipo de tarjeta</label>
                <div class="col-sm-9">
                <v-field col="form-group mb-0" :v="$v.tipoTarjeta">
                  <select class="form-control form-control-sm" id="tarjeta" v-model="tipoTarjeta">
                    <option value="VI">Visa</option>
                    <option value="MC">MasterCard</option>
                    <option value="AX">American Express</option>
                    <option value="MAG">Magna</option>
                    <option value="DI">Diners Club</option>
                  </select>
                </v-field>
                </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3">Número de tarjeta</label>
                <div class="col-sm-9">
                <v-field col="form-group mb-0" :v="$v.numeroTarjeta">
                  <div class="input-group input-group-sm">
                    <input class="form-control form-control-sm" type="text" maxlength="19" ref="credit-card" v-model.trim="numeroTarjeta" placeholder="N° de tarjeta">
                    <div class="d-flex align-items-center" v-if="validaTipoDeTarjeta()">
                      <div class="icon-credit-card"> <img :src="require(`@/assets/images/${this.nombreTarjeta}.png`)"></div>
                    </div>
                  </div>
                </v-field>
                </div>
            </div>
            <div class="row">
              <v-field class="col-md-6 mb-md-0" col="form-group" :v="$v.mesTarjeta">
                <label for="expiraMes">Mes de expiración</label>
                <select v-model="mesTarjeta" class="form-control form-control-sm">
                  <option value="">Expira mes</option>
                  <option value="01">Enero</option>
                  <option value="02">Febrero</option>
                  <option value="03">Marzo</option>
                  <option value="04">Abril</option>
                  <option value="05">Mayo</option>
                  <option value="06">Junio</option>
                  <option value="07">Julio</option>
                  <option value="08">Agosto</option>
                  <option value="09">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select>
              </v-field>
              <v-field class="col-md-6 mb-md-0" col="form-group" :v="$v.yearTarjeta">
                <label for="expiraYear">Año de expiración</label>
                <select class="form-control form-control-sm" id="expiraYear" v-model="yearTarjeta">
                  <option value="">Expira año</option>
                  <option v-for="year in years" :value="year" :key="year">{{ year }}</option>
                </select>
              </v-field>
            </div>
            </div>
          </div>
        <button type="submit" class="btn btn-lg btn-block btn-success mt-3">Aceptar</button>
        </form>
</template>

<script>
import axios from 'axios'
import { required, minLength } from 'vuelidate/lib/validators'
import VMasker from 'vanilla-masker'
import CreditCard from 'creditcard.js'
import vField from './FormGroup'
export default {
  data() {
    return {
      usuarioTarjeta: '',
      rut:'',
      tipoTarjeta: 'VI',
      numeroTarjeta: null,
      mesTarjeta: '',
      yearTarjeta: '',
      nombreTarjeta: null,
      success: false,
      error: null
    }
  },

  components: { vField },

  computed: {
    years() {
      let year = new Date().getFullYear()
      return Array.from({ length: year - 2004 }, (value, index) => year + index)
    },
  },

  methods: {
    async registraTarjeta() {
      this.$v.$touch()

      if (this.$v.$invalid ) return

      const datos = {
        user: this.rut,
        nombre: this.usuarioTarjeta,
        numeroTarjeta: this.numeroTarjeta.replace(/\s/g, ''),
        tipoTarjeta: this.tipoTarjeta,
        mesTarjeta: this.mesTarjeta,
        yearTarjeta: this.yearTarjeta,
      }

      try {
      const registro = await axios.post(`http://teko-dev.mediosregionales.cl/recuperacion/tarjeta-pura/registrar`, datos)
        if(registro.data.success) {
          this.success = registro.data.success
        }
      } catch (error) {
          this.error = error
      }
    },

    validaTipoDeTarjeta() {
        if (!this.numeroTarjeta) return false

        let tarjeta = new CreditCard()

        this.nombreTarjeta = tarjeta.getCreditCardNameByNumber(this.numeroTarjeta.replace(/\s/g, ''))

        // Reemplazamos el parametro que viene por defecto en el plugin por parametros que recibe la api tarjeta-pura
        // las tarjetas a validar son las siguientes, las demás no las consideramos
        // Visa, Mastercard, America Express, Dinners Club, Magna
        if (this.nombreTarjeta === 'Credit card is invalid!') {
          return false
        }

        if (
          this.nombreTarjeta === 'Elo' ||
          this.nombreTarjeta === 'Discover' ||
          this.nombreTarjeta === 'Hipercard' ||
          this.nombreTarjeta === 'Aura'
        ) return false

        this.tipoTarjeta =  this.nombreTarjeta
                              .replace('Visa', 'VI')
                              .replace('Amex', 'AX')
                              .replace('Mastercard', 'MC')
                              .replace('Diners', 'DI')

        return true
    },

    rutValidation(rut) {
      const rexp = new RegExp(/^([0-9])+-([kK0-9])+$/)
      rut = rut.replace(/\./g, '')
      if (rut.match(rexp)) {
          const RUT = rut.split('-')
          const elRut = RUT[0].split('')
          let factor = 2
          let suma = 0
          const len = elRut.length - 1
          let dv
          for (let i = len; i >= 0; i--) {
              factor = factor > 7 ? 2 : factor
              suma += parseInt(elRut[i]) * parseInt(factor++)
          }
          dv = 11 - (suma % 11)

          if (dv == 11) {
              dv = 0
          } else if (dv == 10) {
              dv = 'k'
          }

          if (dv == RUT[1].toLowerCase()) {
              return true
          }
          return false
      }
      return false
    },

    isExpirationDateValidate(paramMonth, paramYearn) {
      const month = parseInt(paramMonth, 10);
      const year = parseInt(paramYearn, 10);

      const currentYear = new Date().getFullYear();
      const currentMonth = new Date().getMonth() + 1;

      if (isNaN(month) || isNaN(year))
        return false;

      if (year === currentYear && month <= currentMonth)
        return false;

      if (month < 1 || month > 12)
        return false;

      return !(year < 1000 || year >= 3000);
    },

    validaFechaTarjeta() {
      let fechaTarjeta = this.isExpirationDateValidate(this.mesTarjeta, this.yearTarjeta)

      return fechaTarjeta
    },

    reloadPage() {
      window.location.reload()
    },
  },

  validations() {
    const numeroTarjeta = this.validaTipoDeTarjeta
    const fechaTarjeta = this.validaFechaTarjeta
    const rut = this.rutValidation
    const validations = {
      usuarioTarjeta: { required },
      rut: { required, rut, minLength: minLength(7) },
      numeroTarjeta: { required, numeroTarjeta },
      tipoTarjeta: { required },
      mesTarjeta: { required, fechaTarjeta },
      yearTarjeta: { required }
    }
    return validations
  },

  mounted () {
    VMasker(this.$refs['credit-card']).maskPattern('9999 9999 9999 9999')
  }
}
</script>
<style>
.icon-credit-card {
  z-index: 10;
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.box-success {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>
