<template>
  <div
    :class="[{'form-group--error': error}, {'form-group--valid': valid}, col]">
    <label v-if="label">{{ label }}</label>
    <slot></slot>
    <div class="field-has-error" v-if="message">{{ message }}</div>
  </div>
</template>

<script>
export default {
  props: ['label', 'v', 'col'],

  computed: {
    message() {
      if (this.v && this.v.$error) {
        for (let key in this.$options.messages) {
          if (this.v[key] === false) {
          return this.$options.messages[key](this.v)
          }
        }
      }
      return null
    },

    model: {
      get(){
        return this.value
      },
      set(val){
        this.$emit('input', val)
      }
    },

    error() {
      if (this.v) {
        return this.v.$error
      }
      return null
    },

    valid() {
      if (this.v) {
        return !this.v.$invalid
      }
      return null
    }
  },

  messages: {
    /* eslint-disable no-unused-vars */
    required: v => 'Este campo es obligatorio',
    rut: v => 'Por favor ingresa un rut válido',
    minLength: v => 'Deben ser al menos ' + v.$params.minLength.min + ' números',
    numeroTarjeta: v => 'Por favor ingresa un número de tarjeta válido',
    fechaTarjeta: v => 'Selecciona un fecha válida'
    /* eslint-enable no-unused-vars */
  }
}
</script>

<style>

</style>
