<template>
  <header class="site-header">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-md-start justify-content-center pt-3 pt-md-0">
        <img  :src="idDiario == 12 ? `https://www.mercuriovalpo.cl/impresa/wp-content/themes/papel-digital-2019-desktop/assets/images/diarios/${idDiario}.png` : `https://www.mercuriovalpo.cl/impresa/wp-content/themes/papel-digital-2019-desktop/assets/images/diarios/${idDiario}.svg`" alt="" />
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-md-end justify-content-center py-3 py-md-0">
          <ul class="site-header-menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Planes</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
export default {
  data() {
    return {
      idDiario: window.id,
    }
  }
}
</script>

<style lang="scss">
@import '../styles/vendor/bootstrap/_core.scss';
.site-header {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  position: relative;
  text-align: center;
  background-color: #fff;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;

  p {
    margin-bottom: 0;
    font-size: 1rem;
    color: #2b5098;
  }

  img {
    max-width: 150px;
    @include media-breakpoint-up(md) {
      max-width: 240px;
    }
  }

  &__inicio-seccion {
    margin: 0.8rem auto 0;
    width: 180px;
    border: 1px solid $gray-300;
    padding: 0.2rem;

    img {
      margin-right: 0.3rem;
      margin-top: -2px;
      width: 14px;
    }
  }

  @include media-breakpoint-up(md) {
    &__inicio-seccion {
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -25px;
      padding: 0.3rem 0;
      font-size: 0.8rem;
    }
  }
}

.site-header-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  li {
     margin: 0 1rem;
  }

  a {
    margin-bottom: 0;
    font-size: 1rem;
    color:#000;
  }
}
</style>