<template>
  <div id="app">
    <Header/>
    <section class="section-sub-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
              <h2>Para seguir informado con las noticias de la región, actualice su forma de pago aquí.</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="section-content">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-center py-5">
            <div class="col-12 col-lg-6 col-md-8 text-left">
              <form-tarjeta/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import FormTarjeta from './components/FormTarjeta.vue'
import Footer from './components/Footer.vue'
export default {
  name: 'App',
  components: {
    FormTarjeta,
    Header,
    Footer
  }
}
</script>

<style lang="scss">
  @import './src/styles/main.scss';
  @import '../node_modules/bootstrap/scss/bootstrap.scss';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:#004e9c;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: #003972;

  h2 {
    color:#fff;
    font-size: 1.3rem;
    @media (min-width: 768px) { font-size: 2rem }
  }

}
</style>
